.mini_win {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../../public/resources/images/mini_win.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
.mini_lose {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../../public/resources/images/mini_lose.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
