.line {
  z-index: 0;
  margin-top:100px;
  position: absolute;
  width: 300px;
  height: 45px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1s ease-in-out;
  transform: rotate(45deg);
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 45px;
  background: red;
}

.line::before {
  transform: rotate(90deg);
}

.line::after {
  transform: rotate(180deg);
}


.line .answer_font {
  /* text-align: center;  */
  line-height: 100px; /* set line height equal to the height of the div */
  animation: fadeOut 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}

.Galmuri {
  z-index: 10;
  font-family: 'Galmuri14';
  font-weight: 700;
  font-size: 40px;
  font-stretch: condensed;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@font-face {
  font-family: 'Galmuri14';
  src: url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');
}

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');