.Card_align {

	transition: transform 0.8s;
	transform-style: preserve-3d;
	width: 100%;
	height: 8vh;
}

.card {
	height: 100%;
	width: 100%;

	transform-style: preserve-3d;
	position: relative;

	border-radius: 5px;

	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

	user-select: none;
	cursor: pointer;
}

.card-front,
.card-back {
	height: 100%;
	width: 100%;

	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	position: static;

	display: flex;
	justify-content: center;
	align-items: center;
}

.card-front {

	background-image: url("./CardGame_FT.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	border: 2px;
}


#card {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 57px;
}

.flip {
	background-image: url("./CardGame_Item.jpg");
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	transform: rotateY(180deg) scaleX(-1);
}

.blueborder {
	border: 10px solid blue;
	user-select: none;
	pointer-events: none;
}

.redborder {
	border: 10px solid red;
	user-select: none;
	pointer-events: none;
}

.bomb {
	transform: rotateY(180deg) scaleX(-1);
	visibility: hidden;
	user-select: none;
	pointer-events: none;
}

.score_class {
	position: relative;
	font-family: "Black Han Sans", sans-serif;
	font-size: 700%;
	justify-content: center;
	line-height: 70px;
	font-weight: 800;
	color: black;
	margin-top: auto;
	margin: 10vh;
}

/* @font-face {
  font-family: myFirstFont;
  src: url(Cursed.ttf);
} */
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.col-heading h1 {
	font-family: "Verdana";
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 36px;
	text-align: center;

	color: white;
}

.col-display {
	width: 15vw;
	height: 12vh;
	background: #080001;
	border-radius: 10px;
	font-family: "Silkscreen", cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 90px;
	line-height: 110px;
	text-align: center;
	color: #f94f6d;
}

.col-points {
	margin-top: 25px;
	display: flex;
	gap: 10px;
}

.add {
	width: 45px;
	height: 45px;
	border: 2px solid white;
	border-radius: 5px;
	font-family: "Silkscreen", cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: white;
	line-height: 35px;
	background: transparent;
}

.colorRed{
	color:crimson;
}

.colorBlue{
	color:blue;
}