.stream-container {
  padding: 0;
}

.container_before_game {
  margin: auto;
  width: 30%;
  position: fixed;
  top: 70%;
  left: 35%;
}

.container {
  width: 99%;
}

.todoBlock {
  padding: 30px;
  margin-top: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgba(0, 0, 0, 0.16);
}
.Video {
  width: 360px;
  height: 180px;
  background: white;
  border: 3px solid green;
  object-fit: fill;
}
.Video_myturn {
  width: 360px;
  height: 180px;
  background: white;
  /* border: 3px solid red; */
  object-fit: fill;
}
.Canvas {
  width: 360px;
  height: 180px;
  background: rgba(245, 240, 215, 0.5);
  border: 3px, solid green;
}
.None {
  display: none;
}

.wide-frame {
  position: relative;
  width: 160vh;
  height: 100%;
  display: flex;

  background-color: none;
  margin: auto;
  top: 5vh;
  border-radius: 15px;
  /* border: 5px solid rgb(28, 29, 28); */
}
.middle-frame {
  height: 100%;
  width: 25%;
  background-color: #ffffff;
  float: left;
  border-radius: 3%;
}

.a-screen {
  position: relative;
  height: 85vh;
  width: 22%;
  background-image: linear-gradient(
    -225deg,
    #ffe29f 0%,
    #ffa99f 48%,
    #ff719a 100%
  );
  float: left;
  border-radius: 25px;
}

.b-screen {
  height: 85vh;
  width: 22%;
  float: left;
  border-radius: 25px;
  background-image: linear-gradient(120deg, #89f7fe 40%, #66a6ff 100%);
  z-index: 2;
}

.box {
  left: 4%;
  position: relative;
  width: 40%; /* 원하는 너비 */
  margin: auto;
  margin: 3%;
  float: left;
}

.box:before {
  content: "";
  display: block;
  padding-top: 50%;
}

.A_total {
  position: absolute;
  font-family: "Black Han Sans", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 70%);
  border-radius: 10px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  color: white;
  font-size: 2.5vh;
  text-align: center;
  opacity: 0.8;
}

.A_cur {
  position: absolute;
  font-family: "Black Han Sans", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 70%);
  border-radius: 10px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-size: 2.5vh;
  color: white;
  text-align: center;
  opacity: 0.8;
}

.B_total {
  position: absolute;
  font-family: "Black Han Sans", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 10px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  color: white;
  font-size: 2.5vh;
  text-align: center;
  opacity: 0.9;
}

.B_cur {
  position: absolute;
  font-family: "Black Han Sans", sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  border-radius: 10px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-size: 2rem;
  color: white;
  font-size: 2.5vh;
  opacity: 0.9;
}

.mid-screen {
  position: relative;
  height: 85vh;
  width: 50%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  float: left;

  border-radius: 25px;
  /* border: 3px solid green; */
}

.video_box {
  position: relative;
  width: 78%; /* 원하는 너비 */
  margin: auto;
  top: 10%;
  margin-bottom: 4%;
  border-radius: 25px;
}

.video_box:before {
  content: "";
  display: block;
  padding-top: 75%;
}

.video_frame {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
  background: white;
  border-radius: 10px;
}

.team_box {
  position: relative;
  height: 10%; /* 원하는 너비 */
  top: 1vh;
  left: 1.5%;
}
.team_box:before {
  content: "";
  display: block;
  padding-top: 20%;
}

.team_turn {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 97%;
  border-radius: 13px;
  margin-top: 1%;
  color: white;
}

.team_box2 {
  position: relative;
  height: 15%; /* 원하는 너비 */
  top: 2.5vh;
  right: 2.5%;
}
.team_box2:before {
  content: "";
  display: block;
  padding-top: 18%;
}

.team_turn2 {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 80%;
  right: 0;
  bottom: 0;
  top: 0;
  width: 95%;
  border-radius: 13px;
}
h5 {
  position: relative;
  font-size: 35px;
  text-align: center;
  font-weight: 350;
  color: black;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  top: 35%;
}
.main_video_box {
  position: relative;
  width: 98%; /* 원하는 너비 */
  margin: auto;
}

.main_video_box:before {
  content: "";
  display: block;
  padding-top: 75%;
}

.main_video_frame {
  position: absolute;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 5%;
}

.Video {
  width: 100%;
  height: 100%;
  background: #ffffff;
  /* border: 3px solid green; */
}
.Video_myturn {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 3px solid green; */
}

.main_bg {
  background-image: url("../public/resources/images/main_page.jpg");
  background-size: cover;
  background-position: center;
}

.main_wait_room {
  background-image: url("../public/resources/images/sub_page.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.text-center {
  margin-top: 5%;
}

.btn btn-lg btn-success {
  margin-top: 10%;
}

.gameStart_button {
  position: relative;
  width: 20vh;
  height: 8.2vh;
  left: 7%;
  top: -26%;
  font-size: 3rem;
  float: left;
  background-color: orange;
  padding-top: 0.5%;
  border: none;
  border-radius: 20px;
}

.invite_button {
  position: relative;
  width: 20vh;
  height: 8.2vh;
  right: 170%;

  font-size: 3rem;
  float: left;
  background-color: green;
  padding-top: 6.5%;
  border: none;
  border-radius: 20px;
}
.exit_button {
  position: relative;
  width: 20vh;
  height: 8.2vh;
  left: 80%;
  top: -25%;
  font-size: 3rem;
  float: left;
  background-color: red;
  padding-top: 0.5%;
  border: none;
  border-radius: 20px;
}

.participant {
  display: none;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.enter_button {
  height: 10vh;
  width: 25vw;
  background-image: url("../public/resources/images/enter_button.png");
  background-size: cover;
  animation: pulse 1s infinite;
  border: none;
}

.roomname {
  display: none;
}

/* 그림 이미지 넣기 */

.image-button_shutter {
  position: relative; 
  background-image: url("../public/resources/images/shutter_Item.jpg");
  background-size: cover;
  object-fit: contain;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  width: 33.3%;
  
  margin: 0;
  
}

.image-button_blur {
  position: relative;
  background-image: url("../public/resources/images/blur2.jpg");
  background-size: cover;
  object-fit: contain;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  width: 33.3%;
  margin: 0;
}

.image-button_mirr {
  position: relative;
  background-image: url("../public/resources/images/mirr2.jpg");
  object-fit: fill;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  width: 33.3%;
  margin: 0;
}

.image-button_4div {
  /* position: absolute; */
  background-image: url("../public/resources/images/4div2.jpg");

  object-fit: contain;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  width: 33.3%;
  height: 6.4vh;
  margin: 0;
}

h6 {
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 350;
  color: #000000;
  margin-top: 3%;
}

.turn_box {
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  line-height: 70px;
  font-weight: 350;
  color: white;
  margin: auto;
}

#Answer_input {
  position: absolute;
  width: 30%;
  top: 24%;
  left: 25%;
  font-size: 20px;
}

.item_box {
  position: relative;
  width: 73%;
  background-color: none;
  left: 13.5%;
  top: 10%;
  display: flex;
}

.container2 {
  /* 모달창 크기 */
  width: 85%;
  height: 65%;
  /* 최상단 위치 */
  z-index: 999;
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../public/resources/images/result_frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 15px;
}

.win_img {
  width: 40%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../public/resources/images/win_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  margin: auto;
  top: 25%;
}
.lose_img {
  width: 50%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../public/resources/images/lose_img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  margin: auto;
  top: 16%;
}
.win_board {
  width: 100%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../public/resources/images/win_board.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 16%;
  margin: auto;
  position: absolute;
  z-index: 11;
}
.lose_board {
  width: 100%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../public/resources/images/lose_board.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: 20%;
  margin: auto;
  position: absolute;
  z-index: 10;
}
.leave_room {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0);
  background-image: url(../public/resources/images/exit.png);
  background-repeat: no-repeat;
  background-size: contain;

  position: relative;
  z-index: 10;
  border: none;
}
.restart_room {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../public/resources/images/restart.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  position: relative;
  z-index: 10;
  border: none;
}

.btn_box {
  width: 20%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: 25%;
  left: 30%;
  margin: auto;
  float: left;
}
.btn_box2 {
  width: 20%;
  height: 12%;
  background-color: rgba(0, 255, 255, 0);
  position: relative;
  top: 25%;
  left: 33%;
  margin: auto;
  float: left;
}

.btn_box3 {
  width: 20%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  top: -1.5%;
  left: 30%;
  margin: auto;
  float: left;
}
.btn_box4 {
  width: 20%;
  height: 12%;
  background-color: rgba(0, 255, 255, 0);
  position: relative;
  top: -1.5%;
  left: 30%;
  margin: auto;
  float: left;
  z-index: 11;
}

.btn_div {
  width: 80%;
  height: 10%;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  z-index: 5;
  position: absolute;
}

.Game_Board{
  background-image:  url('./cardGame/Card_Game_BG.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 990;
  /* width: 100%;
  height: 100%; */
}

.score_class{
  position: relative;
  font-family: "Black Han Sans", sans-serif;
  font-size: 700%;
  justify-content: center;
  line-height: 70px;
  font-weight: 800;
  color: black;
  margin-top: auto;
  margin : 10vh;
}